"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    preferredLineLength: 79
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "e6c5a0b7-08e9-409c-ab80-95b1685556dc"
  github:
    remoteFetchProtocol: "ssh"
